@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$font: "Montserrat", sans-serif;

.turnos-container {
  font-family: $font;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../assets/fondos/home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.turnos {
  position: absolute;
  overflow-y: scroll;
  width: 90vw;
  height: 80vh;
  top: 18%;
  left: 5%;
  z-index: 100;
  padding: 1rem;
  border-radius: 1rem;
  background: #000;
  color: #fff;
  padding: 1rem;
  background-color: #4b898b;
  border: 2px solid #fff;
  box-shadow: 2px 2px 4px #000;
  h3 {
    font-family: $font;
    text-align: center;
    margin-bottom: 20px;
    color: #F1FAEE;
    font-weight: bolder;
    font-size: 2rem;
  }
  label {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
    color: rgb(100, 100, 100);
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}

.tabla-usuario {
  height: 75%;
  overflow-y: scroll;
  z-index: 100;
  left: 5%;
  top: 18%;
  padding: 1rem;
  border: 2px solid #fff;
  box-shadow: 2px 2px 4px #000;
  text-shadow: 1px 1px #000;
  h3 {
    text-align: center;
  }
}

.table{
  --bs-table-bg:#F1FAEE;
  --bs-table-color:#0B6E4F;
  --bs-table-border-color:black;
  transition: 0.5s;
}

.table:hover{
  --bs-table-bg:#F1FAEE;
  --bs-table-color:#0B6E4F;
  transition: 0.5s;
}

.tr-tabla:hover {
  color: #fff;
  background: #4b9a81;
  transition: background 0.5s;
}

.btn-aceptar{
  background: #03a21e;
  color: #ffff;
}
.btn-aceptar:hover {
  background: #0ad52c;
  box-shadow: 2px 2px 4px #000;
}

.btn-especialista:hover {
  background: rgb(0, 0, 0);
  box-shadow: 2px 2px 4px #000;
}

.btn-cancelar{
  background: #a30202;
  color: #ffff;
}
.btn-cancelar:hover {
  background: #ff0000;
  box-shadow: 2px 2px 4px #000;
}

.btn-resena{
  background: #025290;
  color: #ffff;
}
.btn-resena:hover {
  background: #0277d0;
  box-shadow: 2px 2px 4px #000;
}
.btn-confirmar:hover {
  background: #0099ff;
}

.estado {
  text-transform: uppercase;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 255, 255);
  background: #A8DADC;
}

.mensaje-error {
  color: rgb(187, 5, 5);
  padding: 0px 5px;
  border-radius: 5px;
}

.contenedor-form {
  color: #fff;
  font-weight: bolder;
  padding: 0.5rem;
  background: #17444f;
}

.modal-body{
  background-color: #236c7d;
  color: #fff;
}

.contenedor-adicionales {
  color: #fff;
  font-weight: bolder;
  padding: 0.5rem;
  background: #17444f;
}

.input-busqueda {
  width: 15rem;
  border: 3px solid rgb(0, 119, 255);
  border-radius: 10px;
  height: 2rem;
  padding-left: 1rem;
  box-shadow: 2px 2px 4px #000;
}

.input-busqueda:focus {
  border: 3px solid rgb(0, 119, 255);
  box-shadow: 0 0 12px #0099ff;
  transition: box-shadow 0.5s;
}

// RESPONSIVE

@media screen and (max-width: 480px) {
  .turnos-container {
    min-height: 100vh;
  }

  .turnos {
    width: 98vw;
    top: 12%;
    left: 1%;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 0;
  }

  .input-busqueda {
    width: 10rem;
    margin-bottom: 1rem;
  }

  .tabla-usuario {
    width: 100%;
    height: 75%;
    left: 5%;
    top: 18%;
    padding: 0.5rem;
  }

  .table {
    width: 100%;
  }
  
}

/* heart beat */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .heartbeatloader {
    width: 10vmin;
    height: 10vmin;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .svgdraw {
    top: 30%;
    left: 26%;
    position: absolute;
    width: 50%;
    height: 50%;
    transform: scale(1.4);
    z-index: 3;
  }
  
  .path {
    stroke: rgba(0, 0, 0, 0.95);
    stroke-width: 4;
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px;
    animation: draw 1.5s infinite forwards normal linear;
    animation-delay: 0.1s;
    position: relative;
  }
  
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .innercircle {
    position: absolute;
    top: 17%;
    left: 100.5%;
    transform: translate(-50%, -50%) scale(1.2);
    width: 160%;
    height: auto;
    z-index: 1;
    opacity: 0.97;
    animation: innerbeat 1.5s infinite linear forwards;
  }
  
  .innercircle:before,
  .innercircle:after {
    position: absolute;
    content: "";
    left: 25%;
    top: 0;
    width: 25%;
    height: auto;
    padding-bottom: 40%;
    background: rgb(225, 95, 95);
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  .innercircle:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  @keyframes innerbeat {
    0% {
      transform: translate(-50%, -50%) scale(1.2);
    }
  
    10% {
      transform: translate(-50%, -50%) scale(1.2);
    }
  
    50% {
      transform: translate(-50%, -50%) scale(1.3);
    }
  
    60% {
      transform: translate(-50%, -50%) scale(1.25);
    }
  
    75% {
      transform: translate(-50%, -50%) scale(1.3);
    }
  }
  
  .outercircle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(230, 92, 92, 0.774);
    box-shadow: 0 0 30px 0px #000;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    top: 0;
    left: 0;
    transform: scale(1.2);
    animation: outerbeat 1.5s infinite linear forwards;
  }
  
  @keyframes outerbeat {
    0% {
      transform: scale(1.2);
    }
  
    10% {
      transform: scale(1.2);
    }
  
    50% {
      transform: scale(1.3);
    }
  
    60% {
      transform: scale(1.25);
    }
  
    75% {
      transform: scale(1.3);
    }
  }