@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font: 'Montserrat', sans-serif;

.background-image {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../assets/fondos/home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.listado-usuarios {
  font-family: $font;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(106, 178, 180);
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px; 
  width: 98%;
  h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #F1FAEE;
    font-weight: bolder;
    font-size: 2rem;
  }
}

.texto-perfil {
  margin-top: 1rem;
  color: #F1FAEE;
  width: max-content;
  display: block;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 20px;
}

.contenedor-cartas{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: start;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 230px;
  height: 300px;
  background-color: rgba(204, 8, 8, 0.116);
  backdrop-filter: blur(10px);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
}

.carta-historial {
  h4 {
      background-color: grey;
      text-align: start;
      font-weight: bolder;
      padding: 1rem;
  }
  span {
      text-decoration: underline;
      font-weight: bolder;
      color: black;
  }
  p{
      color: black;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.texto-perfil{
  width: max-content;
  display: block;
  margin: 0 auto;
  background-color: rgba(95, 124, 77, 0.87);
  box-shadow: 0px 5px 5px rgb(12, 12, 12);
  padding: 5px 15px;
  border-radius: 20px;
}

.imagen-usuario {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border: 1px outset black;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.opcion-registros {
  z-index: 100;
  margin-top: 12rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn {
  margin: 2rem;
  border-radius: 10px;
  width: 25rem;
  height: 25rem;
  background-color: #F1FAEE;
  img {
    margin-top: 0.7rem;
    width: 10rem;
  }
  h2 {
    margin-top: 1rem;
    color: #E63946;
    font-weight: bolder;
    letter-spacing: 0.2rem;
  }
}

.transUp {
  transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
}

.transUp:hover {
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}

.registro-paciente {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registro-especialista {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.btn-volver {
  font-family: $font;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  z-index: 100;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 0 1rem;
  background-color: #E63946;
}

.btn-volver:hover {
  transform: translateY(-5px);
}

.btn-habilitar {
  height: 3rem;
  width: 12rem;
  background-color: #00610a;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-habilitar:hover {
  transition: 0.4s;
  background-color: rgb(44, 216, 44);
}

.btn-deshabilitar {
  height:3rem;
  width: 12rem;
  background-color: #E63946;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-deshabilitar:hover {
  transition: 0.4s;
  background-color: red;
}

.btn-historial{
  height:3rem;
  width: 12rem;
  background-color: #0B6E4F;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}

.btn-historial:hover{
  transition: 0.4s;
  background-color: #1c9c74;
  z-index: 100;
}

.btn-nuevo-usuario {
  font-family: $font;
  width: 22rem;
  position: absolute;
  z-index: 200;
  border-radius: 10px;
  top: 11%;
  left: 5%;
  height: 3rem;
  border: solid 2px #F1FAEE;
  background-color: #0B6E4F;
  transition: 0.4s;
  color: #F1FAEE;
}

.btn-nuevo-usuario:hover {
  background-color: #61d7b2;
  color: #000;
  transition: 0.4s;
}

.btn-excel {
  font-family: $font;
  width: 22rem;
  position: absolute;
  z-index: 200;
  top: 11%;
  right: 5.9%;
  border-radius: 10px;
  height: 3rem;
  border: solid 2px #F1FAEE;
  background-color: #0B6E4F;
  transition: 0.4s;
  color: #F1FAEE;
}

.btn-excel:hover{
  background-color: #61d7b2;
  color: #000;
  transition: 0.4s;
}

.btn-menu-volver {
  font-family: $font;
  width: 22rem;
  position: absolute;
  z-index: 200;
  top: 18%;
  left: 5%;
  height: 3rem;
  border: solid 2px #F1FAEE;
  background-color: #0B6E4F;
  transition: 0.4s;
  color: #F1FAEE;
}

.btn-menu-volver:hover {
  background-color: #61d7b2;
  color: #000;
  transition: 0.4s;
}