@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font: 'Montserrat', sans-serif;

.background-image {
  font-family: $font;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../assets/fondos/home.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

.tabla-usuario {
  font-family: $font;
  position: absolute;
  width: 90vw;
  height: 80vh;
  overflow-y: scroll;
  z-index: 100;
  left: 5%;
  top: 18%;
  background: #000;
  color: #fff;
  padding: 1rem;
  background-color: #4b898b;
  border: 2px solid #fff;
  box-shadow: 2px 2px 4px #000;

  h3 {
    font-family: $font;
    text-align: center;
    margin-bottom: 20px;
    color: #F1FAEE;
    font-weight: bolder;
    font-size: 2rem;
  }
}

.table {
  --bs-table-bg:#F1FAEE;
  --bs-table-color:#0B6E4F;
  font-weight: bold;
}

.tr-tabla {
  font-size: 1.2rem;

  td {
    line-height: 7rem;
  }
}

.imagen-usuario {
  width: 7rem;
  height: 7rem;
  border-radius: 30px;
  border-style: ridge;
  border-color: #000;
}

.user-name {
  display: block;
}

.opcion-registros {
  z-index: 100;
  margin-top: 12rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn {
  margin: 2rem;
  border-radius: 10px;
  width: 25rem;
  height: 25rem;
  background-color: #F1FAEE;

  img {
    margin-top: 0.7rem;
    width: 10rem;
  }

  h2 {
    margin-top: 1rem;
    color: #E63946;
    font-weight: bolder;
    letter-spacing: 0.2rem;
  }
}

.transUp {
  transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
}

.transUp:hover {
  transform: translatey(-20px);
  -webkit-transform: translatey(-20px);
  -moz-transform: translatey(-20px);
}

.registro-paciente {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registro-especialista {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.btn-volver {
  font-family: $font;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  z-index: 100;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  padding: 0 1rem;
  background-color: #E63946;
}

.btn-volver:hover {
  transform: translateY(-5px);
}

.btn-habilitar {
  width: 12rem;
  background-color: #00610a;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border: 2px solid #000000;
  transition: 0.4s;
  text-shadow: 1px 1px 1px #000;
}

.btn-habilitar span:last-child {
  display: none;
}

.btn-habilitar:hover {
  transition: 0.4s;
  background-color: rgb(0, 255, 0);
}


.btn-deshabilitar {
  width: 12rem;
  background-color: #630101;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border: 2px solid #000000;
  transition: 0.4s;
  text-shadow: 1px 1px 1px #000;
}

.btn-deshabilitar span:last-child {
  display: none;
}

.btn-deshabilitar:hover {
  transition: 0.4s;
  background-color: red;
}

.btn-nuevo-usuario {
  font-family: $font;
  width: 22rem;
  position: absolute;
  z-index: 200;
  top: 18%;
  left: 5%;
  height: 3rem;
  border: solid 2px #F1FAEE;
  background-color: #0B6E4F;
  transition: 0.4s;
  color: #F1FAEE;
}

.btn-nuevo-usuario:hover {
  background-color: #61d7b2;
  color: #000;
  transition: 0.4s;
}

.btn-menu-volver {
  font-family: $font;
  width: 22rem;
  position: absolute;
  z-index: 200;
  top: 18%;
  left: 5%;
  height: 3rem;
  border: solid 2px #F1FAEE;
  background-color: #0B6E4F;
  transition: 0.4s;
  color: #F1FAEE;
}

.btn-menu-volver:hover {
  background-color: #61d7b2;
  color: #000;
  transition: 0.4s;
}