<div class="background-image">
    <div class="container">
        <div class="card text-center slide-in-blurred-top" style="width: 28rem;">
            <div class="card-header bg-transparent">¡Bienvenido!</div>
            <img src="../../../../assets/iconos/homeicon.svg" class="card-img-top" alt="Medicina">
            <div class="card-body">
                <h5 class="card-title">Clínica Online</h5>
                <h6 class="card-subtitle mb-2 text-muted">Julio Méndez</h6>
                <p class="card-text">¡Que disfrute de su estadia!</p>
            </div>
            <div class="card-footer bg-transparent" *ngIf="!authService.seLogueo">
                <button class="btn btn-boton" appBotonHover [routerLink]="['/auth/login']">Iniciar Sesión</button>
                <button class="btn btn-boton" appBotonHover [routerLink]="['/auth/register']">Registrarse</button>
            </div>
        </div>
    </div>
</div>